.containerPageCourse{
    margin-top: 6em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.imageCardCourse {
    width: 50em;
    height: 50em;
    height: auto;
    border-color: brown;
}
.imageStyle {
    width: 30em;
    height: 20em;
}
.containerContextCourse {
    display: inline-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.textCourse  {
    width: 30em;
    height: 20em;
    margin-left: -18em;
}
.textCourse2:hover {
    text-align: center;
    color: rgb(173, 170, 170);
    font-size: 1.7em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.textCourse2 {
    margin-top: 2.5em;
    font-size: 1.7em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 41em;
}
.containerTitlePageCourse {
    margin-left: 1em;
    font-size: 2em;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.titleResources {
    margin-top: 2.5em;
    font-size: 1.7em;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 41em;
    margin-left: 1em;
    border-color: black;
}
.containerResources {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 5em;
}

.cardLessonPageCorse{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 5em;
    width: 7em;
}

.cardLessonPageCorse:hover {
    
}