.imageCardCourse {
    width: 50em;
    height: 50em;
    height: auto;
    border-color: brown;
}
.imageStyle {
    width: 30em;
    height: 20em;
}
.containerContextCourse {
    display: inline-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.textCourse  {
    width: 30em;
    height: 20em;
    margin-left: -18em;
}
.textCourse2:hover {
    text-align: center;
    color: red;
    font-size: 1.7em;
    font-family: 'Times New Roman', Times, serif;
}
.textCourse2 {
    margin-top: 2.5em;
    font-size: 1.7em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    width: 41em;

}
.containerTitleCourse {
    margin-left: 1em;
    font-size: 2em;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titleResources {
    margin-top: 2.5em;
    font-size: 1.7em;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    width: 41em;
    margin-left: 1em;
}

.containerResources {
    display: inline-grid;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

