.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.modalBody{
    align-items: center;
}

.buttonDefault{
    border: none;
    cursor: pointer;
    padding: 0%;
    border-radius: 12px;
    outline-offset: 4px;
}

.buttonModalAssociation{
    background-color: #0e111ecc;
    color: black;
}

.buttonModalCreate{
    background-color: #002700d2;
    color: black;
}

.buttonModalDelete{
    background-color: #640000d2;
    color: black;
}

.buttonModalUpdate{
    background-color: #011c4ed2;
    color: black;
}

.frontDefault{
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1rem;
    min-width: 15em;
    transform: translateY(-6px);
}

.frontAssociation{
    background: #696e88;
    color: white;
}

.frontCreate{
    background: #007c00;
    color: white;
}

.frontDelete{
    background: #c40000;
    color: white;
}

.frontUpdate{
    background: #0065c4;
    color: white;
}

.buttonModalAssociation:active .frontAssociation, .buttonModalUpdate:active .frontUpdate,
.buttonModalDelete:active .frontDelete, .buttonModalCreate:active .frontCreate {
    transform: translateY(0px)
}