.containerCourse {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
}
.containerCardCourse {
    margin-top: 2em;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 5em;
}
.cardCourse {
    border: 1px solid rgb(0, 0, 0);
    width: 90%;
    height: 23em;
    border-radius: 15px;
    transition: transform 0.5s;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}
.cardCourse:hover {
    transform: scale(1.05);
}
.containerTitleCourse {
    margin-top: 0;
    display: flex;
    justify-content: center;
}
.containerImgCardCourse{
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 2px solid black;
}
.imgCardCourse{
    min-width: 100%;
    min-height: 100%;
}
.titleCardCourse{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
