.titleCourse{
    font-weight: 300;
    font-size: 50px;
}

.containerCourse {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.containerCardCourse {
    margin-top: 2em;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 5em;
}

.cardCourse {
    width: 90%;
    height: 20em;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 5px #804DF0;
    transition: transform 0.3s;
}

.cardCourse:hover {
    transform: scale(1.02);
    box-shadow: 12px 12px 12px #804DF0;
}

.containerTitleCourse {
    margin-top: 0;
    display: flex;
    justify-content: center;
    color:#7e4ee5;
    font-weight: 300;

}

.containerImgCardCourse{
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid black;
}

.imgCardCourse{
    min-width: 100%;
    min-height: 100%;
}

.titleCardCourse{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.buttonBack {
    color: #804DF0
}

.realTitleCard{
    font-weight: 100;
}