.bodyHomePage{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5em;
}

.containerLegend{
    background-color: transparent;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0.5px 0.5px 0.5px black;
}

.containerTitleLegend{
    width: 70%;
}

.titleLegend{
    margin: 0;
    margin-left: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    font-weight: 900;
    color: black;
}

.containerButtonLegend{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.buttonLegend{
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    padding: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttonLegend:hover{
    color: rgb(0, 0, 0);
    padding-bottom: 0.5em;
    border-bottom: 2px solid rgb(0, 0, 0);

}

.containerWhoWeAre{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40em;
}
.containerWhatIsIt{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40em;
}
.containerWhatWeOffer{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40em;
}
.textWhoWeAre{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.textWhatIsIt{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.textWhatWeOffer{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.containerImgWhoWeAre{
    width:40%;
    height: 30%;
    background-image: url("../../assets/imgHomePage1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    border: 2px solid;
    padding: 8px;
    border-radius: 25px;
    margin-right: 1em;
    margin-left: 10em;
}
.containerImgWhatIsIt{
    width: 40%;
    height: 30%;
    background-image: url("../../assets/imgHomePage2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    border: 2px solid;
    padding: 8px;
    border-radius: 25px;
    margin-right: 1em;
    margin-left: 1em;
}
.containerImgWhatWeOffer{
    width: 40%;
    height: 30%;
    background-image: url("../../assets/imgHomePage3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    border: 2px solid;
    padding: 8px;
    border-radius: 25px;
    margin-right: 1em;
    margin-left: 10em;
}
.containerTitleWhoWeAre{
    height: 30%;
}
.containerTitleWhatWeOffer{
    height: 30%;
}
.containerTitleWhatIsIt{
    height: 30%;
}
.titleWhoWeAre{
    margin-left: 0.5em;
    font-size: 3.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titleWhatIsIt{
    margin-left:1em;
    font-size: 3.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titleWhatWeOffer{
    margin-left: 0.5em;
    font-size: 3.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.containerDescriptionWhoWeAre{
    height: 70%;
}
.containerDescriptionWhatIsIt{
    height: 70%;
    margin-left: 2em;
}
.containerDescriptionWhatWeOffer{
    height: 70%;
}

.descriptionWhoWeAre{
    margin-left: 2.5em;
    margin-right: 2.5em; 
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.descriptionWhatIsIt{
    margin-left: 2.5em;
    margin-right: 2.5em; 
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.descriptionWhatWeOffer{
    margin-left: 2.5em;
    margin-right: 2.5em; 
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.descriptionTitleWhatWeOffer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(35, 111, 197)
}
.descriptionTitleWhoWeAre{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(35, 111, 197);
    margin-left: 2.2em;
}