
.title-myCourses{
    font-weight: 300;
    color:#7e4ee5;
}

.containerDedicatedCourse {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2em;
}

.containerCardDedicatedCourse {
    margin-top: 2em;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 5em;
}

.cardDedicatedCourse {
    width: 90%;
    height: 23em;
    border-radius: 15px;
    transition: transform 0.5s;
    overflow: hidden;
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.cardDedicatedCourse:hover {
    transform: scale(1.02);
}

.containerTitleDedicatedCourse {
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.containerImgCardDedicatedCourse {
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgCardDedicatedCourse {
    min-width: 100%;
    min-height: 100%;
}

.titleCardDedicatedCourse{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.realTitleCard{
    font-weight: 100;
}