.cardRegister {
    border-radius: 15px;
    background-color: #EDF1FA;

}


.formRegister {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 0.4em;
    border-radius: 20px;
    padding-top: 0%;
}

.titleRegister {
    text-align: center;
    margin: 2em;
    margin-bottom: 1em;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
}

.fieldRegister {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: 2px solid #ccc;
    outline: none;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    transition: border-color 0.3s ease-in-out;
}

.password-match {
    border-color: green;
    box-shadow: inset 2px 5px 10px rgb(38, 255, 0);
}
.emailEmpty {
    border-color: rgb(163, 210, 163);
    box-shadow: inset 2px 5px 10px rgb(38, 255, 0);
}

.password-error {
    border-color: red;
    box-shadow: inset 2px 5px 10px rgb(255, 0, 0);
}
.emailValidate {
    border-color: red;
    box-shadow: inset 2px 5px 10px rgb(255, 0, 0);
}

.input-iconRegister {
    height: 1.5em;
    width: 1.5em;
}

.input-fieldRegister {
    background: none;
    border: none;
    outline: none;
    width: 15em;
    font-size: large;
    color: rgb(0, 0, 0);
    overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #000000;
}

.buttonRegister {
    margin: 1em;
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: rgb(0, 22, 36);
    font-size: large;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.buttonRegister:hover {
    transform: scale(1.05);
}

.eyeRegister {
    width: 2em;
    height: 2em;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btnRegister {
    display: flex;
}

.disabled-button {
    opacity: 0.5;
    cursor: not-allowed;
}