.footer-style {
    background-color: #0E111E;
    min-width: 100% !important;
    margin-bottom: 1em;
    padding-bottom: 1em;
    padding-top: 0.5em;
}
.footer-text {
    display: flex;
    color: #EDF1FA;
    font-size: 1.3em;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 100;
}
.text-center{
    color:#EDF1FA;
}
.footer-icon{
    color: #d1aadd;
}

.footer-title-style{
    font-size: 2em;
    font-weight: 100;
}

