
.footer-style {
    background-color: #bcc1c5;
    min-width: 100% !important;
    margin-bottom: 1em;
    padding-bottom: 1em;
    padding-top: 3em;
}

.footer-text {
    display: flex;
    color: #2F4858;
    font-size: medium;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.text-center{
    color:black;
}
.footer-icon{
    color: rgb(157, 48, 48);
}
