.containerUserProfile{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.containerMenu{
    background-color: rgb(209, 148, 148);
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.containerAll{
    width: 70%;
    background-color: rgb(102, 24, 41);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.userDetails{
    background-color: rgb(209, 148, 148);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.containerTitleHeader{
    margin-right: 4em;
}