.buttonDefaultStudent{
    border: none;
    cursor: pointer;
    padding: 0%;
    border-radius: 12px;
    outline-offset: 4px;
}

.buttonModalStudent{
    background-color: #442353;
}

.frontDefaultStudent{
    display: block;
    padding: 6px 21px;
    border-radius: 12px;
    font-size: 1rem;
    transform: translateY(-6px);
}

.frontStudent{
    background: #804DF0;;
    color: #EDF1FA;
}

.buttonModalStudent:active .frontStudent{
    transform: translateY(0px)
}