.containerSettings{
    margin-top: 6em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.optionSettings{
    display: flex;
    align-items: center;
    justify-content: center;
}

.descriptionOptionSettings{
    margin: 0%;
}