.containerSettingsAdmin{
    margin-top: 6em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.optionSettings{
    display: flex;
    align-items: center;
    justify-content: center;
}

.descriptionOptionSettings{
    margin: 0%;

}
.buttonBack {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    color: rgb(148, 47, 47);
    transition: transform 0.6s;
    margin-left: 4.5em;
    width: 5em;
    border: 2px solid rgb(148, 47, 47);
    border-radius: 15px;
}
.buttonBack:hover{
    box-shadow: 4px 4px 4px rgb(0, 0, 0);
    transform: scale(1.05);
}

.sectionContainer{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.containerImageSettingsCreate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 20em;
    background-repeat: no-repeat;
    background-image: url("../../assets/add_image.jpg");
    background-position: 50%;
}
.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: rgb(147, 48, 48);
}

.optionSettingsCreate{
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerImageSettingsUpdate{
    display: flex;
    width: 15em;
    height: 20em;
    margin-left: -5em;
    background-repeat: no-repeat;
    background-image: url("../../assets/update_image.png");
    margin-left: 1em;
    background-position: center;
    background-size: 14em;
}
.containerImageSettingsAssociate{
    display: flex;
    width: 15em;
    height: 20em;
    margin-left: -5em;
    background-repeat: no-repeat;
    background-image: url("../../assets/img_associate.jpg");
    margin-left: 1em;
    background-position: 50%;
}
.containerImageSettingsDelete{
    display: flex;
    width: 15em;
    height: 20em;
    margin-left: -5em;
    background-repeat: no-repeat;
    background-image: url("../../assets/delet_img.png");
    margin-left: 1em;
    background-position: 50%;
    background-size: 14em;
}

