.containerSettingsAdmin{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
}

.optionSettings{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sectionContainer{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.containerImageSettings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 15em;
    overflow: hidden;
}

.imageSettings{
    width: 100%;
}

.textSettings{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: #804DF0;
}