.containerSettingsAdmin{
    margin-top: 6em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.optionSettings{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.descriptionOptionSettings{
    margin: 0%;
}
.buttonBack {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    color: rgb(148, 47, 47);
    transition: transform 0.6s;
    margin-left: 4.5em;
    width: 5em;
    border: 2px solid rgb(148, 47, 47);
    border-radius: 15px;
}
.buttonBack:hover{

    box-shadow: 4px 4px 4px rgb(0, 0, 0);
    transform: scale(1.05);
}